.photo-creator{
  background-color: #F2F2F2;
  padding-top: 20px;
  padding-bottom: 41px;
}
.photo-creator__controls{
  padding-top: 43px;
  padding-bottom: 34px;
}
.photo-creator__controls-range{
  margin-top: 39px;
}
.photo-creator__submit{
  padding-top: 38px;
  padding-bottom: 41px;
}
.photo-creator__button{
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #D22856;
}
.photo-creator__button-reset{
  color: #283645;
  opacity: 0.3;
  margin-top: 12px;
}
