.main-form__check {
  background-color: f2f2f2;
  padding-bottom: 44px;
  padding-top: 42px;
}

.main-form__check-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}

.main-form__check-list-item-label {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
