.main-form__textarea {
  padding-top: 42px;
  padding-bottom: 52px;
}

.main-form__textarea-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}

.main-form__textarea-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
