.modal-success{
  padding-bottom: 52px;
  background-color:#ffffff;
}
.modal-success__title{
  padding-top: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}
.modal-success__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 41px;
}
.modal-success__controls{
  background-color:#ffffff;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color:#F2F2F2;
}
.modal-success__button{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
}
