.reviews {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reviews-list__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews-list__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  order: 2;
}

.reviews-list__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.pagination__list {
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination__item-button {
  width: 6px;
  height: 6px;
  margin-right: 19px;
}
