.tariffs{
  background-color:#F2F2F2;
  padding-top: 83px;
  padding-bottom: 49px;
  border: 3px solid red;
}
.tariffs__header-item{
  background-color: #283645;
}
.tariffs__item{
  background-color: #ffffff;
  padding-top: 26px;
  padding-bottom: 25px;
}
.tariffs__header-title{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.tariffs__header-text{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.tariffs__label-text{
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}
.tariffs__value{
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.tariffs__pagination{
  margin-top: 45px;
}
