.download{
background-image: url(../../../img/blue-back.png);
padding-top: 28px;
padding-bottom: 38px;
border: 3px solid green;
}

.download__button-text{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.download__description{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
